In [1]:
import pandas as pd
import sqlite3 as lite

In [2]:
db = lite.connect('all_info.db')

In [ ]:
# 이런게 있구나 라고 생각하심 됩니다.
# 1) 커서를 만들어서 sql 날린뒤 결과 fetch하는법(굉장히 비효율적)
cur = db.cursor()
cur.execute("select * from Orders;")
cur.fetchall()

In [10]:
# 2) pandas read_sql로 결과 받아보기
df = pd.read_sql("select * from Orders;", db)
df.head()

  OrderID CustomerID EmployeeID   OrderDate ShipperID
0   10248         90          5  1996-07-04         3
1   10249         81          6  1996-07-05         1
2   10250         34          4  1996-07-08         2
3   10251         84          3  1996-07-08         1
4   10252         76          4  1996-07-09         2

In [13]:
sql = """
    select name
    from sqlite_master
    where
        type = 'table'
    ;
"""

sql = """
    select sql
    from sqlite_master
    where
        type = 'table'
    ;
"""
pd.options.display.max_colwidth = 120
pd.read_sql(sql, db)

                                                                                                                       sql
0                          CREATE TABLE Categories(\n  "CategoryID" TEXT,\n  "CategoryName" TEXT,\n  "Description" TEXT\n)
1  CREATE TABLE Customers(\n  "CustomerID" TEXT,\n  "CustomerName" TEXT,\n  "ContactName" TEXT,\n  "Address" TEXT,\n  "...
2  CREATE TABLE Employees(\n  "EmployeeID" TEXT,\n  "LastName" TEXT,\n  "FirstName" TEXT,\n  "BirthDate" TEXT,\n  "Phot...
3        CREATE TABLE OrderDetails(\n  "OrderDetailID" TEXT,\n  "OrderID" TEXT,\n  "ProductID" TEXT,\n  "Quantity" TEXT\n)
4  CREATE TABLE Orders(\n  "OrderID" TEXT,\n  "CustomerID" TEXT,\n  "EmployeeID" TEXT,\n  "OrderDate" TEXT,\n  "Shipper...
5  CREATE TABLE Products(\n  "ProductID" TEXT,\n  "ProductName" TEXT,\n  "SupplierID" TEXT,\n  "CategoryID" TEXT,\n  "U...
6                                    CREATE TABLE Shippers(\n  "ShipperID" TEXT,\n  "ShipperName" TEXT,\n  "Phone" TEXT\n)
7  CREATE TABLE Suppliers(\n  "SupplierID" TEXT,\n  "SupplierName" TEXT,\n  "ContactName" TEXT,\n  "Address" TEXT,\n  "...

In [23]:
import time
start = time.time()

query = """
    select count(*) 
    from OrderDetails
    ;
"""
count = pd.read_sql(query, db)
print(count)

end = time.time()
duration = end - start
print(duration)

   count(*)
0       518
0.0037970542907714844

In [22]:
start = time.time()

count = len(pd.read_sql("select * from OrderDetails;", db))
print(count)

end = time.time()
duration = end - start
print(duration)

518
0.0048940181732177734

In [26]:
query= """
    select *
    from Customers;
"""
customer_df = pd.read_sql(query, db)
customer_df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [31]:
is_france = customer_df["Country"] == "France"
is_germany = customer_df["Country"] == "Germany"
is_paris = customer_df["City"] == "Paris"

# pandas에서 다중조건 활용하기 => | 또는 &
customer_df[is_germany | is_france].head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
6,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France
8,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France
16,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany

In [36]:
query = """
    select *
    from Customers
    where
        Country = "Germany"
        or
        Country = "France"
    ;
"""

pd.read_sql(query, db).head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France
3,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France
4,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany

In [40]:
products_df = pd.read_sql('select * from Products;', db)
products_df.sort_values('ProductName', ascending=False)

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
46,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.5
63,64,Wimmers gute Semmelknödel,12,5,20 bags x 4 pieces,33.25
62,63,Vegie-spread,7,2,15 - 625 g jars,43.9
49,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
6,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30
22,23,Tunnbröd,9,5,12 - 250 g pkgs.,9
53,54,Tourtière,25,6,16 pies,7.45
13,14,Tofu,6,7,40 - 100 g pkgs.,23.25
28,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79
18,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.2
61,62,Tarte au sucre,29,3,48 pies,49.3
34,35,Steeleye Stout,16,1,24 - 12 oz bottles,18
45,46,Spegesild,21,8,4 - 450 g glasses,12
60,61,Sirop d'érable,29,2,24 - 500 ml bottles,28.5
20,21,Sir Rodney's Scones,8,3,24 pkgs. x 4 pieces,10
19,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81
41,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14
67,68,Scottish Longbreads,8,3,10 boxes x 8 pieces,12.5
26,27,Schoggi Schokolade,11,3,100 - 100 g pieces,43.9
33,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14
44,45,Røgede sild,21,8,1k pkg.,9.5
27,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.6
72,73,Röd Kaviar,17,8,24 - 150 g jars,15
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75
56,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.5
58,59,Raclette Courdavault,28,4,5 kg pkg.,55
11,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38
10,11,Queso Cabrales,5,4,1 kg pkg.,21
54,55,Pâté chinois,25,6,24 boxes x 2 pies,24
52,53,Perth Pasties,24,6,48 pieces,32.8
...,...,...,...,...,...,...
40,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
42,43,Ipoh Coffee,20,1,16 - 500 g tins,46
35,36,Inlagd Sill,17,8,24 - 250 g jars,19
9,10,Ikura,4,8,12 - 200 ml jars,31
21,22,Gustaf's Knäckebröd,9,5,24 - 500 g pkgs.,21
25,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
43,44,Gula Malacca,20,2,20 - 2 kg bags,19.45
68,69,Gudbrandsdalsost,15,4,10 kg pkg.,36
23,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.5
36,37,Gravad lax,17,8,12 - 500 g pkgs.,26
5,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25
30,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.5
55,56,Gnocchi di nonna Alice,26,5,24 - 250 g pkgs.,38
14,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.5
32,33,Geitost,15,4,500 g,2.5
70,71,Fløtemysost,15,4,10 - 500 g pkgs.,21.5
51,52,Filo Mix,24,5,16 - 2 kg boxes,7
57,58,Escargots de Bourgogne,27,8,24 pieces,13.25
37,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.5
47,48,Chocolade,22,3,10 pkgs.,12.75
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22
38,39,Chartreuse verte,18,1,750 cc per bottle,18
1,2,Chang,1,1,24 - 12 oz bottles,19
0,1,Chais,1,1,10 boxes x 20 bags,18
17,18,Carnarvon Tigers,7,8,16 kg pkg.,62.5
59,60,Camembert Pierrot,28,4,15 - 300 g rounds,34
39,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.4
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10
16,17,Alice Mutton,7,6,20 - 1 kg tins,39

In [42]:
query = """
    select * 
    from Products
    ORDER BY ProductName 
    ;
""" # ASC => 오름차순(기본값), DESC => 내림차순
pd.read_sql(query, db)

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,17,Alice Mutton,7,6,20 - 1 kg tins,39
1,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10
2,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.4
3,60,Camembert Pierrot,28,4,15 - 300 g rounds,34
4,18,Carnarvon Tigers,7,8,16 kg pkg.,62.5
5,1,Chais,1,1,10 boxes x 20 bags,18
6,2,Chang,1,1,24 - 12 oz bottles,19
7,39,Chartreuse verte,18,1,750 cc per bottle,18
8,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22
9,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
10,48,Chocolade,22,3,10 pkgs.,12.75
11,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.5
12,58,Escargots de Bourgogne,27,8,24 pieces,13.25
13,52,Filo Mix,24,5,16 - 2 kg boxes,7
14,71,Fløtemysost,15,4,10 - 500 g pkgs.,21.5
15,33,Geitost,15,4,500 g,2.5
16,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.5
17,56,Gnocchi di nonna Alice,26,5,24 - 250 g pkgs.,38
18,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.5
19,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25
20,37,Gravad lax,17,8,12 - 500 g pkgs.,26
21,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.5
22,69,Gudbrandsdalsost,15,4,10 kg pkg.,36
23,44,Gula Malacca,20,2,20 - 2 kg bags,19.45
24,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
25,22,Gustaf's Knäckebröd,9,5,24 - 500 g pkgs.,21
26,10,Ikura,4,8,12 - 200 ml jars,31
27,36,Inlagd Sill,17,8,24 - 250 g jars,19
28,43,Ipoh Coffee,20,1,16 - 500 g tins,46
29,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
...,...,...,...,...,...,...
47,53,Perth Pasties,24,6,48 pieces,32.8
48,55,Pâté chinois,25,6,24 boxes x 2 pies,24
49,11,Queso Cabrales,5,4,1 kg pkg.,21
50,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38
51,59,Raclette Courdavault,28,4,5 kg pkg.,55
52,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.5
53,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75
54,73,Röd Kaviar,17,8,24 - 150 g jars,15
55,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.6
56,45,Røgede sild,21,8,1k pkg.,9.5
57,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14
58,27,Schoggi Schokolade,11,3,100 - 100 g pieces,43.9
59,68,Scottish Longbreads,8,3,10 boxes x 8 pieces,12.5
60,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14
61,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81
62,21,Sir Rodney's Scones,8,3,24 pkgs. x 4 pieces,10
63,61,Sirop d'érable,29,2,24 - 500 ml bottles,28.5
64,46,Spegesild,21,8,4 - 450 g glasses,12
65,35,Steeleye Stout,16,1,24 - 12 oz bottles,18
66,62,Tarte au sucre,29,3,48 pies,49.3
67,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.2
68,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79
69,14,Tofu,6,7,40 - 100 g pkgs.,23.25
70,54,Tourtière,25,6,16 pies,7.45
71,23,Tunnbröd,9,5,12 - 250 g pkgs.,9
72,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30
73,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
74,63,Vegie-spread,7,2,15 - 625 g jars,43.9
75,64,Wimmers gute Semmelknödel,12,5,20 bags x 4 pieces,33.25
76,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.5

In [45]:
query ="""
    select *
    from Products
    where
        ProductName LIKE "%An%"
    ;
""" # LIKE "%Ch%" "Fast_ampus"
pd.read_sql(query, db)

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,2,Chang,1,1,24 - 12 oz bottles,19
1,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10
2,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22
3,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
4,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25
5,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30
6,8,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40
7,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38
8,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.5
9,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
10,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14
11,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.5
12,51,Manjimup Dried Apples,24,7,50 - 300 g pkgs.,53
13,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.5
14,65,Louisiana Fiery Hot Pepper Sauce,2,2,32 - 8 oz bottles,21.05
15,66,Louisiana Hot Spiced Okra,2,2,24 - 8 oz jars,17
16,69,Gudbrandsdalsost,15,4,10 kg pkg.,36
17,72,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.8
18,77,Original Frankfurter grüne Soße,12,2,12 boxes,13

In [46]:
# How to merge with (1) pandas
query= """
    select * 
    from Customers
    ;
"""
customers_df = pd.read_sql(query, db)

query= """
    select * 
    from Orders
    ;
"""
orders_df = pd.read_sql(query, db)

In [49]:
integrated_df = orders_df.merge(customers_df, on="CustomerID")
integrated_df[["OrderID", "CustomerID", "CustomerName", "Address"]].head()

  OrderID CustomerID            CustomerName                  Address
0   10248         90             Wilman Kala            Keskuskatu 45
1   10249         81  Tradição Hipermercados  Av. Inês de Castro  414
2   10292         81  Tradição Hipermercados  Av. Inês de Castro  414
3   10250         34           Hanari Carnes          Rua do Paço  67
4   10253         34           Hanari Carnes          Rua do Paço  67

In [51]:
#(2) Join with sql
# 이렇게 하지 마세요
query = """
    select *
    from Orders, Customers
    ;

"""

pd.read_sql(query, db).head()

,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,10248,90,5,1996-07-04,3,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,10248,90,5,1996-07-04,3,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,10248,90,5,1996-07-04,3,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,10248,90,5,1996-07-04,3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,10248,90,5,1996-07-04,3,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [54]:
query = """
    select *
    from Orders, Customers
    where
        Customers.CustomerID = Orders.CustomerID
    ;

"""

query = """
    select O.OrderID, C.CustomerName
    from Orders O, Customers C
    where
        C.CustomerID = O.CustomerID
    ;

"""

pd.read_sql(query, db)

    OrderID                  CustomerName
0     10248                   Wilman Kala
1     10249        Tradição Hipermercados
2     10250                 Hanari Carnes
3     10251          Victuailles en stock
4     10252              Suprêmes délices
5     10253                 Hanari Carnes
6     10254             Chop-suey Chinese
7     10255            Richter Supermarkt
8     10256        Wellington Importadora
9     10257              HILARIÓN-Abastos
10    10258                  Ernst Handel
11    10259    Centro comercial Moctezuma
12    10260        Old World Delicatessen
13    10261                   Que Delícia
14    10262    Rattlesnake Canyon Grocery
15    10263                  Ernst Handel
16    10264                Folk och fä HB
17    10265          Blondel père et fils
18    10266                Wartian Herkku
19    10267                Frankenversand
20    10268          GROSELLA-Restaurante
21    10269          White Clover Markets
22    10270                Wartian Herkku
23    10271         Split Rail Beer & Ale
24    10272    Rattlesnake Canyon Grocery
25    10273                    QUICK-Stop
26    10274     Vins et alcools Chevalier
27    10275  Magazzini Alimentari Riuniti
28    10276           Tortuga Restaurante
29    10277        Morgenstern Gesundkost
..      ...                           ...
166   10414            Familia Arquibaldo
167   10415    Hungry Coyote Import Store
168   10416                Wartian Herkku
169   10417                 Simons bistro
170   10418                    QUICK-Stop
171   10419            Richter Supermarkt
172   10420        Wellington Importadora
173   10421                   Que Delícia
174   10422                Franchi S.p.A.
175   10423           Gourmet Lanchonetes
176   10424                Mère Paillarde
177   10425              La maison d'Asie
178   10426        Galería del gastrónomo
179   10427              Piccolo und mehr
180   10428            Reggiani Caseifici
181   10429  Hungry Owl All-Night Grocers
182   10430                  Ernst Handel
183   10431        Bottom-Dollar Marketse
184   10432         Split Rail Beer & Ale
185   10433       Princesa Isabel Vinhoss
186   10434                Folk och fä HB
187   10435         Consolidated Holdings
188   10436          Blondel père et fils
189   10437                Wartian Herkku
190   10438            Toms Spezialitäten
191   10439                Mère Paillarde
192   10440            Save-a-lot Markets
193   10441        Old World Delicatessen
194   10442                  Ernst Handel
195   10443            Reggiani Caseifici

[196 rows x 2 columns]

In [57]:
# 강추 : join

query = """
    select * 
    from Customers C
    JOIN Orders O
    ON C.CustomerID = O.CustomerID
    ;
"""

pd.read_sql(query, db).head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico,10308,2,7,1996-09-18,3
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico,10365,3,3,1996-11-27,2
2,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10355,4,6,1996-11-15,1
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10383,4,8,1996-12-16,3
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10278,5,8,1996-08-12,2

In [59]:
query = """
    select *
    from Orders
    ;
"""

order_df = pd.read_sql(query, db)
order_df.head()

  OrderID CustomerID EmployeeID   OrderDate ShipperID
0   10248         90          5  1996-07-04         3
1   10249         81          6  1996-07-05         1
2   10250         34          4  1996-07-08         2
3   10251         84          3  1996-07-08         1
4   10252         76          4  1996-07-09         2

In [71]:
order_groups = order_df.groupby("OrderDate")
len(order_groups.get_group("1996-07-08"))

order_df["OrderDate"].unique()
order_count = pd.DataFrame([{
    "OrderDate": OrderDate,
    "Count": len(order_groups.get_group(OrderDate)),
} for OrderDate in order_df["OrderDate"].unique()])
order_count.head()

   Count   OrderDate
0      1  1996-07-04
1      1  1996-07-05
2      2  1996-07-08
3      1  1996-07-09
4      1  1996-07-10

In [66]:
show_list = [x*x for x in range(1, 10+1)]
show_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
order_df["month"] = order_df["OrderDate"].apply(lambda x: str(x)[:7])
order_df.head()

  OrderID CustomerID EmployeeID   OrderDate ShipperID    month
0   10248         90          5  1996-07-04         3  1996-07
1   10249         81          6  1996-07-05         1  1996-07
2   10250         34          4  1996-07-08         2  1996-07
3   10251         84          3  1996-07-08         1  1996-07
4   10252         76          4  1996-07-09         2  1996-07

In [75]:
order_groups = order_df.groupby("month")
order_count = pd.DataFrame([
    {
    "month": month,
    "Count": len(order_groups.get_group(month)),
    } for month in order_df["month"].unique()])
order_count.head()

   Count    month
0     22  1996-07
1     25  1996-08
2     23  1996-09
3     26  1996-10
4     25  1996-11